{% extends 'base.html' %}
{% block content %}
<h1>All Products Page</h1>

<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Code</th>
            <th>Price</th>
            <th>GST</th>
            <th>Food Product</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {%  for x in all_products %}
            <tr>
                <td>{{x.product_name}}</td>
                <td>{{x.product_code}}</td>
                <td>{{x.price}}</td>
                <td>{{x.gst}}</td>
                <td>{{x.food_product}}</td>
                <td>
                    <button>Update</button>
                </td>
                <td>
                    <button>Delete</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}